$base-size: 14px;
$base-spacing: 12px;

$font-size1: $base-size - 2;
$font-size2: $base-size;
$font-size3: $base-size + 4;
$font-size4: $base-size + 4;
$font-size5: $base-size * 2;
$font-size6: $base-size * 3;

$spacing1: $base-spacing - 4;
$spacing2: $base-spacing;
$spacing3: $base-spacing + 4;
$spacing4: $base-spacing + 8;
$spacing5: $base-spacing * 2;
$spacing6: $base-spacing * 3;

$back-color: #e6ecf8;
$gray: gray;
$blue: #0032d1;
